asn1crypto==0.24.0
backcall==0.1.0
bleach==3.1.0
cryptography==2.3
decorator==4.3.2
defusedxml==0.5.0
entrypoints==0.3
idna==2.6
ipykernel==5.1.0
ipython==7.2.0
ipython-genutils==0.2.0
jedi==0.13.2
Jinja2==2.10
jsonschema==2.6.0
jupyter-client==5.2.4
jupyter-core==4.4.0
jupyterlab==0.32.1
jupyterlab-launcher==0.10.5
keyring==17.1.1
keyrings.alt==3.1.1
MarkupSafe==1.1.0
mistune==0.8.4
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.5.0
pandocfilters==1.4.2
parso==0.3.2
pexpect==4.6.0
pickleshare==0.7.5
prompt-toolkit==2.0.8
ptyprocess==0.6.0
pycrypto==2.6.1
Pygments==2.3.1
PyGObject==3.30.4
python-dateutil==2.7.5
pyxdg==0.25
pyzmq==17.1.2
SecretStorage==2.3.1
Send2Trash==1.5.0
six==1.12.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
wcwidth==0.1.7
webencodings==0.5.1